*{
    padding: 0px;
    margin: 0px;
    border-radius: 0px;
    outline: none;
    box-sizing: border-box;
    
}

body {
      font-family: 'Inter', sans-serif;
      font-size: 20px;
      border-radius: 0px;
      height: 100vh;
      color: #616262;
     
    }

    .barNav{ 
        display:flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 120px;
        height: 37px;
        max-width: 800px;
        background: #1F618D;

        
    }

    .barNav img{
        height: 25px;
        width: 25px;
    }
    .barNav button{

        width: 26px;
        height: 26px;
        border-style: none;
        background: #1F618D;
    }

    
    #logo{
        color: white;
        font-weight: bold;
    }





    
    .main{
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        

    }

    #salva{
        font-size: 30px;
        font-weight: bold;
        color: #1F618D;
    }

    .Imaganes{

        height: 200px;
        width: 200px;
        background: #616262;
        border-radius: 10px;
        color: white;
        text-align: center;
    }

    #text2{
        font-size: 18px;
        font-style: italic;
    }

    #botonDonar{
        border-style: none;
        color: white;
        font-size: 30px;
        font-weight: bold;
        background-color: #2ECC71;
        box-shadow: 0px 5px 2px rgb(4, 92, 30);
        width: 200px;
        border-radius: 10px;
        padding: 10px 10px;
        height: auto;
    }


