*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: none;
    font-family: 'Inter', sans-serif;
    
   
}
body{
    background-color: grey;
    padding:0px;
    margin: 0px;
    height: 100dvh;
    width: 100dvw;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.barNav{ 
        position: fixed;
        display:flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 120px;
        height: 50px;
        width: 100vw;
        padding: 0px;
        margin: 0px;
        background: #1F618D;
}

     #logo{
        color: white;
        font-weight: bold;
    }
    #botonMenu{
        display: inline-block;
        padding: 4px 5px;
        background-color: #1F618D;
        font-size: 20px;
        font-weight: bold;
        color: white;
        border-style: none;
    }
    #cajaMenu {
  transform: translateX(100%); /* lo empuja fuera del viewport */
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: fixed; /* para que se desplace sobre el contenido */       
  top:50px;/* debajo del header */
  right: 0;        /* pegado al borde derecho */

}
#cajaMenu.activo {
  transform: translateX(0); /* vuelve a su posición normal */
  
}
#cajaMenu{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cajaLista{


    display: flex;
    justify-content: center;
    align-items: center;
}

#lista{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    background-color: purple;
    width: 150px;
    height: 250px;

}
.conjunto{

    color: rgb(0, 0, 0);
    background-color: yellow;
    padding: 10px 5px;
    border-radius: 5px;
    
}
    
main{
    
        height: 100dvh;
        width: 100dvw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        
        
        
        }
#texto1{

    font-size: 24px;
    background-color: white;




}
#carrusel{

    width: 200px;
    height: 250px;
    background-color: blue;
    border-radius: 10px;
}
#texto2{

    background-color: yellow;
    font-size: 20px;
}

#botonDonar{
    margin-top: 12px;
    font-size: 26px;
    font-weight: bold;
    padding: 18px 60px;
    border-radius: 8px;
    transition: 0.4s ease;
}
#botonDonar.activo{

     background-color: aqua;
     color: blue;
}


