*{

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border-style: none;
    font-family: 'Inter', sans-serif;
    
   
}
body{
    background-color: grey;
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.barNav{ 
        position: fixed;
        display:flex;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        gap: 120px;
        height: 37px;
        width: 100%;
        background: #1F618D;
}

     #logo{
        color: white;
        font-weight: bold;
    }
    #botonMenu{
        padding: 5px 5px;
    }





    
main{

        padding-top: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        font-size: 15px;
        height: auto;
        
        }
#texto1{


    background-color: white;




}
#carrusel{

    width: 160px;
    height: 180px;
    background-color: blue;
    border-radius: 10px;
}
#texto2{

    background-color: yellow;
    font-size: 15px;
}

#botonDonar{
    margin-top: 12px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    padding: 13px 60px;
    border-radius: 8px;
    cursor: pointer;
    
}

#cajaMenu {
  transform: translateX(100%); /* lo empuja fuera del viewport */
  
  transition: transform 0.5s ease, opacity 0.5s ease;
  position: fixed; /* para que se desplace sobre el contenido */
  top: 37px;       /* debajo del header */
  right: 0;        /* pegado al borde derecho */
}
#cajaMenu.activo {
  transform: translateX(0); /* vuelve a su posición normal */
  
}
